@model List<Contato>

@{
    ViewData["Title"] = "Listagem de Contatos";
    string Classe = "";
}

<div class="lista">
    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Serviço</th>
                <th>Mensagem</th>
                <th>Manutenção</th>
            </tr>
        </thead>
</div>

        @foreach (Contato c in Model)
        {

            if (c.Respondido == true)
            {
                Classe="text-success";
            }
            else
            {
                Classe="";
            }

            <tr class="@Classe">
                <td>@c.id</td>
                <td>@c.nome</td>
                <td>@c.phone</td>
                <td>@c.email</td>
                <td>@c.servico</td>
                <td>@c.mensagem</td>
                <td>
                    <a href="/Contato/Editar?id=@c.id">Editar</a>
                </td>
            </tr>
        }

    </table>